

{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Candidates List</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>id</th>
                <th>candidate_name</th>
                <th>req id</th>
                <th>lob</th>
                <th>available date</th>
                <th>interview status</th>
                <th>grade   </th>
                <th>internal external   </th>
                <th>diversity   </th>
                <th>hiring manager   </th>
                <th>resume   </th>
                <th>view panelists</th>
                </tr>

        </thead>
        {% for candidate in candidates %}

        <tr>
            <td>{{candidate.id}}</td>
            <td>{{candidate.candidate_name}}</td>
            <td>{{candidate.req_id}}</td>
            <td>{{candidate.lob}}</td>
            <td>{{candidate.available_date}}</td>
            <td>{{candidate.interview_status}}</td>
            <td>{{candidate.req_id__grade   }}</td>
            <td>{{candidate.req_id__internal_external   }}</td>
            <td>{{candidate.req_id__diversity   }}</td>
            <td>{{candidate.req_id__hiring_manager   }}</td>
            <td>{{candidate.resume   }}</td>
            <td><a href="{% url 'panelists' %}?cid={{candidate.id}}">view panelists</a></td>
        </tr>
        {% endfor %}

    </table>


{% endblock content %}
