

{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Candidates List</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Candidate_name</th>
                <th>Available Date</th>
                <th>Req id</th>
                <th>LOB </th>
                <th>Available date</th>
                <th>Interview status</th>
                <th>Grade   </th>
                <th>Job Title</th>
                <th>Internal external   </th>
                <th>Diversity   </th>
                <th>Hiring manager   </th>
                <th>Resume   </th>
                <th>View panelists</th>
                </tr>

        </thead>
        {% for candidate in candidates %}

        <tr>
            <td>{{candidate.id}}</td>
            <td>{{candidate.candidate_name}}</td>
            <td>{{candidate.available_date}}</td>
            <td>{{candidate.req_id}}</td>
            <td>{{candidate.lob}}</td>
            <td>{{candidate.available_date}}</td>
            <td>{{candidate.interview_status}}</td>
            <td>{{candidate.req_id__grade   }}</td>
            <td>{{candidate.req_id__job_title  }}</td>
            <td>{{candidate.req_id__internal_external   }}</td>
            <td>{{candidate.req_id__diversity   }}</td>
            <td>{{candidate.req_id__hiring_manager   }}</td>
            <td>{{candidate.resume   }}</td>
            <td><a href="{% url 'panelists' %}?cid={{candidate.id}}">view panelists</a></td>
        </tr>
        {% endfor %}

    </table>


{% endblock content %}
