

{% extends "base.html" %}

{% block content %}

    <p>Candidate ID: {{candidate_id}} </p>
    <table class="table">

        <thead class="thead-light">
            <tr>
                <th>sid</th>
                <th>name</th>
                <th>email</th>
                <th>lob</th>
                <th>is_available</th>
                <th>number_of_interviews_in_a_month </th>
                <th>prefered_round </th>
                <th>location </th>
                <th>Schedule</th>    
            </tr>
        </thead>
        {% for panelist in panelists %}
        <tr>
            <td>{{panelist.sid}}</td>
            <td>{{panelist.name}}</td>
            <td>{{panelist.email}}</td>
            <td>{{panelist.lob}}</td>
            <td>{{panelist.is_available}}</td>
            <td>{{panelist.number_of_interviews_in_a_month }}</td>
            <td>{{panelist.prefered_round }}</td>
            <td>{{panelist.location }}</td>
            <td></td>
        </tr>
        {% endfor %}

    </table>



    {% endblock content %}
